absl_py==1.2.0
biopython==1.78
dm_haiku==0.0.8
dm_tree==0.1.7
jax==0.3.8
joblib==1.2.0
matplotlib==3.5.2
ml_collections==0.1.1
numpy==1.23.1
scipy==1.9.1
tensorflow_cpu==2.7.0
tqdm==4.64.1
scikit-learn==1.2.2
ipywidgets==8.0.4
